<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel= "icon" href="/static/WSE_LOGO.ico">
    {% block title %}
    <title>Hello, world!</title>
    {% endblock %}
    
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script>
      function logout() {
          window.location.href = "{{ url_for('logout') }}";
      }
  </script>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="dashboard">
            <img src="/static/wse_name.jpeg" width="150" height="50" alt="logo">
        </a>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('dashboard') }}">DASHBOARD <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">New</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ url_for('new_token') }}">Token</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('new_label') }}">Label</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('new_invoice') }}">Invoice</a>
                <div class="dropdown-divider"></div>

              </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('search') }}">SEARCH <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('check') }}">CHECK <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('inventory') }}">INVENTORY <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('hrm') }}">HRM <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('report') }}">REPORT <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('todo') }}">TODO <span class="sr-only">(current)</span></a>
            </li>    
            <li class="nav-item active">Welcome, {{ user.first_name }} {{ user.last_name }}</li>
            <li class="nav-item active">Role: {{ user.access_type }}</li>  
            
          </ul>
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
            <button type="button" class="btn btn-outline-info" style="margin: 4px;" onclick=logout()>Logout</button>
            
          </form>
        </div>
      </nav>
      {% block body %}
            
              
      {% endblock %}
  </body>
</html>